button {
  width: 200px;
  height: 60px;
  position: fixed;
  left: 50vw;
  top: 50vh;
}
.darkmode {
  background-color: black;
}
.btn-darkmode {
  background-color: black;
  color: white;
  border: 4px solid yellow;
}
